*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
*.env.*.local
*.env.local
Assistbackend/tw.json
Assistbackend/token.json
*Assistbackend/tw.json
*Assistbackend/token.json

my-twin/.env
my-twin/Assistbackend/credentials.json
my-twin/Assistbackend/token.json
my-twin/Assistbackend/tw.json
